<section class="signup-form">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          placeholder="Your email"
          value=""
          formControlName="email"
          name="email"
          email
          required
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
          >Field must not be empty</mat-error
        >
        <mat-error *ngIf="!loginForm.get('email')?.hasError('required')"
          >E-mail is invalid</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Your password"
          value=""
          formControlName="password"
          required
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
          >Field must not be empty</mat-error
        >
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </section>
  